
/*pagina index.html*/

body {background-color: #12a7dc;
}

#start {width: 200px;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    border: 2px ;
    padding: 10px;
    align-content: center;
    margin-left: 40%;
    margin-top: 15%;
}

/*pagina Quiz.html*/


p {
    text-align: center;
}

a {
    text-decoration: none;
    text-decoration-color: #000000;
}

#Main-container {
    background-color: #99ccff;
    padding: 30px;
}

#Quiz-container {
    background-color: darksalmon;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}

#next-q {
    background-color: deeppink;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

table {
    width:100%;
}

#QA {
    background-color: chartreuse;
}

#QB {
    background-color: #ff2728;
}

#QC {
    background-color: #faff1f;
}

#QD {
    background-color: #0a00ff;
}

.question {
    border: 1px solid gray;
    margin: 5px;
    border-radius: 4px;
}
